<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragment/head :: headCss">


</head>

<body>
<div class="header" th:include="fragment/common :: header">
</div>

<div class="page-content">
    <div class="row">
        <div class="col-md-2" th:include="fragment/common :: menu">

        </div>

        <div class="col-md-10">
            <div class="row">
                <div class="col-md-10">

                    <div class="content-box-large">
                        <div class="panel-heading">
                            <div class="panel-title">Магазин</div>
                            <hr/>
                            <br/>
                            <a href="store-edit">Создать Новый</a>
                        </div>
                        <div class="panel-body">
                            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered"
                                   id="example">
                                <thead>
                                <tr>
                                    <th>Локация</th>
                                    <th>Название</th>
                                    <th>Владелец</th>
                                    <th>Тип</th>
                                    <th>Адрес</th>
                                    <th></th>
                                    <th></th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="store : ${storeList}">
                                    <td th:text="${store.location}"></td>
                                    <td th:text="${store.storeName}"></td>
                                    <td th:if="${store.person != null}" th:text="${store.person.personLName}"></td>
                                    <td th:if="${store.person == null}"></td>

                                    <td th:if="${store.storetype != null}" th:text="${store.storetype.typeName}"></td>
                                    <td th:if="${store.storetype == null}"></td>

                                    <td th:if="${store.addressBean != null}" th:text="${store.addressBean.address}"></td>
                                    <td th:if="${store.addressBean == null}"></td>
                                    <!--<td th:inline="text"><a href="#" th:onclick="'deleteObject(\'poll\', \''+${store.id} + '\');'">Удалить</a></td>-->
                                    <td><a th:href="@{/store-delete(id=${store.id})}">Удалить</a></td>
                                    <td><a th:href="@{/store-edit(id=${store.id})}">Редактирвать</a></td>
                                </tr>
                                <!--deleteobj('+','5');-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:include="fragment/common :: footer"></footer>


<script th:src="@{/resources/js/common/list.js}" th:inline="javascript"></script>
<script th:src="@{/resources/js/jquery/jquery.js}"></script>
<script th:src="@{/resources/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/resources/js/custom.js}"></script>
</body>

</html>
