<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerFragment">
	<meta charset="utf-8"/>
	<!--<link rel="stylesheet" href="../assets/css/bootstrap.css" th:href="@{/assets/css/bootstrap.css}" />-->
	<!--<link rel="stylesheet" href="../assets/css/thymeleaf-demo.css" th:href="@{/assets/css/thymeleaf-demo.css}" />-->
</head>
<body>
	<div class="container">

	</div>
	<footer th:fragment="footer">
		<div id="modal_form">
			<span id="modal_close"></span>
			<h4 th:text="#{startAgain}" align="center"></h4>

			<h1 align="center" id="timer_inp" th:text="${application.timeOut}"></h1>

			<div align="center">
				<input type="button" align="center" class="btn btn-lg btn-danger" onclick="specialModalClose()"
					   th:value="#{no}"/>
			</div>
		</div>
		<div id="overlay"></div>
	</footer>
</body>

</html>
