<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headCss">
    <meta charset="utf-8"/>
    <!--<link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet"/>-->
    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/resources/css/work/theme.css}" rel="stylesheet"/>
    <script th:href="@{/resources/js/jquery.min.js}"></script>
    <script th:href="@{/resources/js/bootstrap.min.js}"></script>


</head>
<body>

</body>
</html>
