<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headCss">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link th:href="@{/resources/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/resources/css/styles.css}" rel="stylesheet"/>
    <script th:src="@{/resources/js/libs/html5shiv.js}"></script>
    <script th:src="@{/resources/js/libs/respond.min.js}"></script>
</head>
<body>

</body>
</html>
