<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragment/head :: headCss">


</head>

<body>
<div class="header" th:include="fragment/common :: header">
</div>

<div class="page-content">
    <div class="row">
        <div class="col-md-2" th:include="fragment/common :: menu">

        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-10">

                    <div class="content-box-large">
                        <div class="panel-heading">
                            <div class="panel-title">Поставщик</div>

                            <div class="panel-options">
                                <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
                                <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <form class="form-horizontal" role="form" method="post" action="#"
                                  th:action="@{/supplier-save}">
                                <input type="hidden" id="idObject" name="idObject" th:value="${supplier.id}"/>

                                <div class="form-group">
                                    <label for="name" class="col-sm-2 control-label">Название</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="name" name="name"
                                               placeholder="Название"
                                               th:value="${supplier.name}"/>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-primary">Сохранить</button>
                                        <a href="supplier-view" class="btn btn-primary">Отмена</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:include="fragment/common :: footer"></footer>


<script th:src="@{/resources/js/jquery/jquery.js}"></script>
<script th:src="@{/resources/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/resources/js/custom.js}"></script>
</body>

</html>
