
body {
    height: 712px;
    width: 1024px;
}

.header { /*  140 */
    padding: 10px;
    height: 210px;
}

.content {
    width: 1000px;
    height: 304px;
}

.body-content {
    width: 1000px;
    height: 600px;
}
.button-link{

}
.button-link.link-content
{
    width: 400px;
    height: 120px;
    bgcolor: rgba(106, 104, 103, 0.53);
    border: none;
}
.easypay-logo {
    display: table;
    float: left;
    width: 1000px;
    height: 204px;
    color: #FFF;
    font-size: 12pt;
    background: url(../../images/logo.png) 0 0 no-repeat;
}
.content hr{
    margin: 7px 0;
    height: 1px;
    border: none;
    background: #F00;

}
.easypay-logo p {
    margin: 0;
    font-size: 9pt;
    margin-top: 100px;
    color: #2261a1;
}

.left {
    float: left;
    width: 20%;
    padding: 50px;
}

.right {
    float: right;
    width: 30%;
    text-align: right;
    padding: 50px;
}
.visible{
 display: none;

}
.radius {
    width: 900px;
    margin: 10px auto 5px;
    border: 4px solid red;
    border-radius: 13px;
}

.textSize {
    width: 600px;
    margin: 10px auto 5px;
}

.centerBtn {
    width: 700px;
    margin: 10px auto 5px;
}

/* ��� (��� ������ �����������) */

.radius {
    font-size: 22pt;
    border: 5px solid red;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    border-bottom-left-radius: 13px;
}
#txt1 {
    width: 200px; /* Ширина поля в пикселах */
}
#txt2 {
    width: 200px; /* Ширина поля в пикселах */
}
#txt3 {
    width: 200px; /* Ширина поля в пикселах */
}
#txt4 {
    width: 200px; /* Ширина поля в пикселах */
}
#menu {
    background: oldlace;
    width: 190px;
    height: 300px;
}

a.button25 {
    position: relative;
    display: inline-block;
    width: 10em;
    height: 2.5em;
    line-height: 2.5em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px #777;
    color: #fff;
    outline: none;
    border: 2px solid #F64C2B;
    border-radius: 5px;
    box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #800;
    background: linear-gradient(#FB9575, #F45A38 48%, #EA1502 52%, #F02F17);
}
a.button25:active {
    top: .1em;
    left: .1em;
    box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
}
#content {
    background: oldlace;
    width: 525px;
    height: 300px;
    position: absolute;
    left: 190px;
    top: 100px;
}

#news {
    background: yellow;
    width: 150px;
    height: 280px;
    position: absolute;
    left: 365px;
    top: 10px;
}

#footer {

    width: 1024px;
    height: 30px;
}
#TB_overlay
{
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=25);
    -moz-opacity: 0.25;
    -khtml-opacity: 0.25;
    opacity: 0.25;
}
#overlay {
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    text-align:center;
    z-index: 1000;
}
#overlay div {
    width:300px;
    margin: 100px auto;
    background-color: #fff;
    border:1px solid #000;
    padding:15px;
    text-align:center;
}
#modal_form {
    width: 300px;
    height: 300px; /* Рaзмеры дoлжны быть фиксирoвaны */
    border-radius: 5px;
    border: 3px #000 solid;
    background: #fff;
    position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
    top: 45%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
    left: 50%; /* пoлoвинa экрaнa слевa */
    margin-top: -150px;
    margin-left: -150px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
    display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
    opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
    z-index: 5; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
    padding: 20px 10px;
}
/* Кнoпкa зaкрыть для тех ктo в тaнке) */
#modal_form #modal_close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: block;
}
/* Пoдлoжкa */
#overlay {
    z-index:3; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
    position:fixed; /* всегдa перекрывaет весь сaйт */
    background-color:#000; /* чернaя */
    opacity:0.8; /* нo немнoгo прoзрaчнa */
    -moz-opacity:0.8; /* фикс прозрачности для старых браузеров */
    filter:alpha(opacity=80);
    width:100%;
    height:100%; /* рaзмерoм вo весь экрaн */
    top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
    left:0;
    cursor:pointer;
    display:none; /* в oбычнoм сoстoянии её нет) */
}
