<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd

		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <import resource="spring-mvc.xml"/>
    <import resource="spring-rest-client.xml"/>
    <import resource="spring-jpa.xml"/>

    <context:property-placeholder location="classpath:application.properties"/>

    <!--I18N support-->
    <!--Bundle format: <bundlename>+<specific language>+<specific country>+<specific variant>-->
    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>classpath:i18n/messages</value>
            </list>
        </property>
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="cacheSeconds" value="-1"/>
        <property name="useCodeAsDefaultMessage" value="true"/>
    </bean>
    <bean id="localeChangeInterceptor" class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
        <property name="paramName" value="language" />
    </bean>
    <bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
        <property name="defaultLocale" value="ru" />
    </bean>
    <!--End of I18N Support-->


    <!-- Scans within the base package of the application for @Component classes to configure as beans -->



    <context:property-placeholder location="classpath:application.properties"/>




</beans>
