<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragment/head :: headCss">


</head>

<body>
<div class="header" th:include="fragment/common :: header">
</div>

<div class="page-content">
    <div class="row">
        <div class="col-md-2" th:include="fragment/common :: menu">

        </div>

        <div class="col-md-10">
            <div class="row">
                <div class="col-md-10">

                    <div class="content-box-large">
                        <div class="panel-heading">
                            <div class="panel-title">Категории</div>
                            <div th:if="${errorMessage!=null}" th:text="${errorMessage}" align="center" style="color: #0fa6bc"></div>
                            <hr/>
                            <br/>
                            <a href="category-edit">Создать</a>
                        </div>
                        <div class="panel-body">
                            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered"
                                   id="example">
                                <thead>
                                <tr>
                                    <th>Название</th>
                                    <th>Описание</th>
                                    <th>Категории</th>
                                    <th>Товары</th>
                                    <th></th>
                                    <th></th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="category : ${categoryList}">
                                    <td th:text="${category.categoryName}"></td>
                                    <td th:text="${category.categorydescription}"></td>

                                    <td th:if="${category.category != null}" th:text="${category.category.categoryName}"></td>
                                    <td th:if="${category.category == null}"></td>
                                    <td><a th:href="@{/product-category-view(categoryId=${category.id})}">Товары</a></td>
                                    <td><a th:href="@{/category-delete(id=${category.id})}">Удалить</a></td>
                                    <td><a th:href="@{/category-edit(id=${category.id})}">Редактирвать</a></td>
                                </tr>
                                <!--deleteobj('+','5');-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:include="fragment/common :: footer"></footer>


<script th:src="@{/resources/js/common/list.js}" th:inline="javascript"></script>
<script th:src="@{/resources/js/jquery/jquery.js}"></script>
<script th:src="@{/resources/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/resources/js/custom.js}"></script>
</body>

</html>
